* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 4rem;
}

nav {
  display: flex;
  justify-content: center;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Reset default browser styles */
  
  /* Basic styling */
  border: 1px solid #fff;
  border-radius: 30px;
  padding: 15px 30px;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  width: 2%;
  cursor: pointer;
  background-image: url('/public/img/list.png');
  background-repeat: no-repeat;
  background-position: center; 
  background-size: 60px 60px;
}

/* Optional: Style the arrow down icon */
select::-ms-expand-downarrow {
  /* Adjust color and positioning as needed */
  color: #ccc;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out;
}

select:hover::-ms-expand-downarrow {
  transform: rotate(180deg); /* Rotate on hover */
}

select:focus {
  outline: none; /* Remove default outline */
}

.input-field {
  border: none; /* Border color */
  border-bottom: 5px solid #F23005;  /* Border radius */
  padding: 8px; /* Padding */
  font-size: 16px; /* Font size */
  width: 200px; /* Width */
  text-align: center;
}

.input-field::placeholder {
  color: #999;
}

/* Optional: Focus style */
.input-field:focus {
  outline: none; /* Remove default outline */
  border-color: #F23005; /* Change border color on focus */
}

.mini {
  font-size: 2rem;
}

.logo {
  color: #F23005;
}

/* Post formatt */
.showPost {
  justify-content: center;
  margin: 2rem 0;
}

.showPost hr {
  opacity: 0.3;
}

.post {
  display: inline-flex;
  background-color: #fff; /* Set background color to white */
  box-shadow: 0px 2px 10px rgba(242, 48, 4, 0.1); /* Add subtle box shadow */
  border-radius: 4px; /* Add rounded corners for card effect */
  transition: all 0.2s ease-in-out;
}

.post:hover {
  transform: translateY(-1px); /* Simulate floating effect on hover */
  box-shadow: 0px 4px 15px rgba(242, 48, 4, 0.2); /* Increase shadow on hover */
}

.headText {
  text-align: start;
}

.mainPost {
  width: 50vh;
  display: grid;
  margin: 1.5rem 1rem 1rem 0.5rem;
}

.subPost {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.subPost span {
  color: #F23005;
}

.mainPic {
  width: 98%;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 10px;
  margin: 1.5rem 0;
}

/* Make transition arrow */
.arrowUp {
  position: absolute;
}

.arrowDown {
  position: absolute;
}

.post button {
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  padding: 0; /* Optional: Remove default padding */
  cursor: pointer;
}

.post button img {
  transition: all 0.2s ease-in-out; 
}

.post button .arrowUp {
  opacity: 0;
}

.post button .arrowDropUp {
  opacity: 0.8;
}

.post button:hover .arrowUp { 
  opacity: 1;
  transform: translateY(-5px);
}

.post button:hover .arrowDropUp {
  transform: translateY(-2px);
  opacity: 0; 
}

.post button .arrowDown {
  opacity: 0;
}

.post button .arrowDropDown {
  opacity: 0.8;
}

.post button:hover .arrowDown { 
  opacity: 1;
  transform: translateY(5px);
}

.post button:hover .arrowDropDown {
  transform: translateY(2px);
  opacity: 0; 
}

/* aninmation click */
.hasClick {
  opacity: 1;
  position: absolute;
}

.hasClickArrow {
  opacity: 0;
}

.hasDownClick {
  opacity: 1;
  position: absolute;
}

.hasDownClickArrow {
  opacity: 0;
}

/* comment */
.commentButton {
  display: flex;
}

.commentButton p {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 17px;
  align-self: center;
  margin-left: 0.3rem;
}

.commentButton img{
  opacity: 0.7;
}

/* form post */
.upDown {
  margin-top: 1rem;
  margin-left: 0.6rem;
}

/* make comment */
.commentsSec {
  margin: 2rem 0;
  width: 100%;
}

.textComment {
  text-align: start;
  margin-bottom: 2rem;
}

ul {
  list-style-type: none; /* Remove bullets for all list items */
}

/* Alternatively, target specific list items */
li.no-bullet {
  list-style-type: none;
}

.commentsSec h5 {
  color: #F23005;
  font-size: 18px;
  margin-bottom: 0.7rem;
}

.commentsSec p {
  /* Specific styling for comment text */
  line-height: 1.6; /* Adjust line spacing for readability */
}

.inform {
  margin: 2rem;
}